* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

html {
    font-family: sans-serif;
    color: #000;
    background-color: #fafafa;
}

.nav-container {
    max-width: 1050px;
    margin: auto;

    position: relative;
    padding: 3.2vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .title a {
    text-decoration: none;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(1 * 1.2vw + 1rem);

    transition-duration: 0.9s;
    transition-delay: 0.02s;
}

.menu-items {
    display: flex;
    list-style: none;
}

.menu-items li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin: auto 5px;

    transition-duration: 0.9s;
    transition-delay: 0.05s;
}


.nav-container .checkbox {
    display: none;
}

.nav-container .hamburger-lines {
    height: 12px;
    width: 32px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.nav-container .hamburger-lines .line {
    display: none;

    height: 1px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transition: transform 0.4s ease-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.4s ease-out;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: rotate(-135deg);
    position: absolute;
    top: 50%;
}












